*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
    margin: 0;
}

fieldset{
    border: none;
    padding: 3%;
}

ul{
    list-style-type: none;
    padding: 0;
}

input[type=text]{
    padding: 0.5em;
    border-radius: 0.5em; 
    font-size: 18px;
    width: 75%;
    cursor: pointer;
}
input[type=datetime-local]{
    padding: 0.5em;
    border-radius: 0.5em; 
    font-size: 18px;
    width: 75%;
    cursor: pointer;
}
input[type=submit]{
    padding: 0.5em;
    border-radius: 0.5em; 
    font-size: 24px;
    font-weight: bold;
    width: 80%;
    background-color: rgb(240, 219, 166);
    border: none;
    border-radius: 0.8em;
    padding: 1em;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: goldenrod;   
    transform: translateY(-3px);
    box-shadow: 5px 5px 7px rgb(155, 122, 38);
    transition: 0.3s; 
}
.pageContainer{
    display: grid;
    grid-template-rows: 150px, 1fr;
}

.headerContainer{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
    background: linear-gradient(0.25turn, #33ad27, #e2a32d, #f0c91c, #2066fd, #e2752d);
}

.headerText{
    background-color: rgba(255, 255, 255, 0.274);
    padding: 0.3em;
    border-radius: 2em;
    text-align: center;
}

.formContainer{
    border: inset 10px yellow;
    margin: 20px;
    box-shadow: 5px 5px 8px rgba(209, 207, 207, 0.651);
    background-color: rgb(245, 244, 244);
    font-size: 24px;
}

.formTitle{
    text-decoration: underline;
    font-size: 30px;
    font-weight: bold;
}
.csaDetails{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    grid-auto-flow: row;
    align-items: center;
}

select{
    width: 80%;
    font-size: 18px;
    padding: 0.5em; 
    border-radius: 0.5em;
    cursor: pointer;
}

.submitButton{
    grid-area: 4/1/5/-1;
    align-self: center;
    justify-self: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em;
}